<div>
<div class="form-group">
	<label>Create a Password</label>
	<input type="password" class="form-control" popover-placement="left" popover="Use at least 8 characters. Make it easy to remember not easy to guess." popover-trigger="focus" ng-model="vm.password1" name="password1" minlength="8" maxlength="30" required ng-pattern="/^[a-z0-9!@#$%^*]*$/"/>
	<div class="error-message" ng-show="vm.form.password.$touched || vm.form.$submitted">
		<div ng-show="vm.form.password1.$error.required">* You can't leave this empty</div>
		<div ng-show="vm.form.password1.$error.minlength || vm.form.password.$error.maxlength">Please use between 8 and 30 characters</div>
		<div ng-show="vm.form.password1.$error.pattern">Please use only letters (a-z) and numbers</div>
	</div>
</div>
<div class="form-group">
	<label>Confirm Your Password</label>
	<input type="password" class="form-control" ng-model="vm.cpassword" name="cpassword" required match="vm.password1"/>
	<div class="error-message" ng-show="vm.form.cpassword.$touched || vm.form.$submitted">
		<div ng-show="vm.form.cpassword.$error.required">* You can't leave this empty</div>
		<div ng-show="(vm.form.cpassword.$dirty && vm.form.cpassword.$error.match)">These passwords don't match. Try again?</div>
	</div>
</div>
</div>
