.login-error-message {
	color: #dd4b39;
	font-weight:500;
	margin:0.4em 0;
}

























































/* learning sass */

/* $primary-color: #555;

header {
	color: $primary-color;
	font-size: 20px;
	text-align: center;
}
nav {
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		padding: 10px;
	}
}

@mixin border-radius($radius) {
	-webkir-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.div1 {
	height: 100px;
	width: 100px;
	@include border-radius(10px);
} */